<header class="pb-10 blocks blocks--transparent">
  <div class="{{ style.blocks.md }}">
    {% if entry.newsRelatedCat and entry.newsRelatedCat.collect().first() %}
      <p class="mb-2 text-center text-beta dark:text-beta-400">
        {{ entry.newsRelatedCat.collect().first() }}
      </p>
    {% endif %}

    {% if entry.type == "home" %}
      <div class="mb-4 text-4xl text-center">
        🙈 🙉 🙊
      </div>
    {% endif %}

    <h1 class="text-3xl font-bold tracking-tight text-center dark:text-white sm:text-4xl">
      {{ entry.title }}
    </h1>

    {% if entry.teaser %}
      <div class="{{ style.richText.intro }} text-center text-gray-500 dark:text-gray-300  mt-6">
        {{ entry.teaser }}
      </div>
    {% endif %}
  </div>
</header>
